.fWhlNu{
    background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
    flex-direction: column;
    padding-bottom: 4.17rem;
}

.lhhpGw{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

@media (min-width: 581px){
    .fWhlNu .inner-content.primary {
        margin-top: calc(11.12em + 2em);
    }
}

.fWhlNu .inner-content{
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1501px){
    .lhhpGw .inner-content {
        max-width: 1760px;
    }
}

@media (min-width: 701px){
    .lhhpGw .inner-content {
        padding: 0 10rem;
    }
}

.lhhpGw .inner-content{
    width: 100%;
    display: flex;
}