.nav-link{
    font-weight: 500;
    color: white;
}

.nav-link:hover{
    color: yellow;
}

.active{
    color: yellow !important;
}

.navbar-brand{
    color:white
}

.navbar-brand:hover{
    color:yellow;
}
